.buttons-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.buttons-menu-container button{
    margin: 0 0 0 20px;
}

.menus .nav-item {
    font-size: 1.5rem;
    color: black;
}

.menus .nav-item:hover {
    font-size: 1.5rem;
    color: grey;
}

.dishes-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.dishes-header {
    display: flex;
    justify-content: space-between;
}

.dish-container {
    padding: 5px 10px 5px 10px;
}