.home-container {
    background-color: #20232A;
    min-width: 100%;
    //min-height: calc(100vh - 96px);
    min-height: 100vh;
    background-image: url("../../media/images/home-background.png");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.home-content {
    color: white;
    margin-top: 12rem;
}

.home-content h1 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.home-partners-buttom {
    background-color: #C31212;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-partners-buttom h5 {
    margin-left: 20px;
    margin-bottom: 0;
}

.home-partners-buttom:hover {
    background-color: #750b0b;
    color: white;
    text-decoration: none;
}

.home-store-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.home-store-columns {
    display: flex;
    align-items: center;
    margin: 0 50px 0 50px;
}

.home-store-columns img {
    margin: 0 25px 0 25px;
}

@media only screen and (max-width: 1400px) {
    .home-content {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-content {
        margin-top: 3rem;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-store-content {
        margin-top: 50px;
    }

    .home-store-columns {
        margin: 20px 50px 20px 50px;
    }
}