.home-container {
    background-color: #20232A;
    min-width: 100%;
    //min-height: calc(100vh - 96px);
    min-height: 100vh;
    background-image: url("../../media/images/home-background.png");
    background-size: 100%;
    background-position: 0px;
    background-repeat: no-repeat;
}