.partners-list {
    height: 40vh;
    border-radius: 5px;
}

.search-alert {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    text-align: center;
}

.partner-item {
    display: flex;
    flex-direction: column;
}

.partner-item .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.partner-item .subtitle {
    font-size: 0.9rem;
    color: grey;
    padding-left: 10px;
}

.partners-spinner {
    text-align: center;
}