.partners-container {
    background-color: #20232A;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../../media/images/home-background.png");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.partners-list-container {
    
}